
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
}

main{
    margin-bottom: 2rem;
}

h1 {
    animation: 1.5s normal fadetitle;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.subtitulo{
    animation: 1.5s normal fade;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.vinhos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    animation: slidein 1s normal;
}

.vinho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.vinho img {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    object-fit:contain;
}

.vinho a {
    margin: 1rem 0 0 0;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    background-color: #5e2129;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: background-color 0.3s;
}

.vinho a:hover {
    background-color: #76313c;
}

.vinho .actions {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
}	

.vinho .actions img {
    display: flex;
    padding: 0.4rem;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #5e2129;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    transition: all 0.3s;
}

.vinho .actions img:hover{
    transform: scale(0.95);
}

.favoritado, .listado{
    background-color: white !important;
}

.vinho .actions img.favoritar{
    margin-right: 55px;
}

