body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.centro {
    color: white;
    height: 350px;
    width: 500px;
    margin-top: 18px;
    background-color: #4b1e24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.centro form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* inputs */

.usuario-input {
    height: 30px;
    width: 230px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px;
}

.senha-input {
    height: 30px;
    width: 230px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px;
}

form button {
    border: none;
    width: 140px;
    height: 35px;
    border-radius: 8px;
    font-size: 14px;
}

form button:hover {
    background-color: #ca6976;
    transition: .2s;
    cursor: pointer;
}
footer{
    position: fixed;
}