* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5dc;
}

.navbar {
    background-color: #f5f5dc;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #000000;
    font-weight: bold;
}

#apresentacao {
    background-color: #551616;
    padding: 60px 0;
}

#apresentacao h2 {
    font-size: 32px;
    color: #fff;
}

#apresentacao p {
    font-size: 18px;
    color: #fff;
}

#imagens {
    background-color: #551616;
    padding: 60px 0;
}

#imagens h2 {
    font-size: 32px;
    color: #551616;
}

.carousel-inner {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

#contato {
    background-color: #551616;
    padding: 60px 0;
}

#mercado h2 {
    font-size: 32px;
    color: #fff;
}

#mercado, #quiz, #sobrenós {
    background-color: #551616;
}

#mercado p, #quiz p, #Sobrenós p {
    font-size: 18px;
    color: #fff;
}

#mercado a, #quiz a, #Sobrenós a, #contato a {
    font-size: 18px;
    color: #fff;
}

#Sobrenós {
    background-color: #551616;
    padding: 60px 0;
}

#Sobrenós h2, #quiz h2 {
    font-size: 32px;
    color: #fff;
}

#grupo {
    background-color: #2c2c2c;
    padding: 60px 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    color: #666;
}

#grupo h2 {
    font-size: 32px;
    color: #333;
}

#grupo p {
    font-size: 18px;
    color: #666;
}

#contato {
    background-color: #551616;
    padding: 60px 0;
}

#contato h2 {
    font-size: 32px;
    color: #ffffff;
}

#contato p {
    font-size: 18px;
    color: #ffffff;
    padding-right: 20%;
}

#LinksFooter {
    display: flex;
    flex-direction: column;
}

#LinksFooter ul li a{
    text-decoration: none;
    color: #000000;
}

#LinksFooter ul li a:hover{
    color: #551616;
}

footer {
    color: #000000;
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
}