* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #f5f5dc;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #5e2129;
    color: #fff;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

main{
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #5e2129;
    color: #fff;
}